<html><head>
<title>Lista dos Clientes com Node.js</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body style="background-color: rgb(41, 41, 41);; font-family: 'Exo', sans-serif; ">
  
  

  <nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand" href="/sair">
      <p class="text-white bg-dark">
      <img src="https://st2.depositphotos.com/1340907/6714/v/950/depositphotos_67149235-stock-illustration-pixel-sad-face-icon.jpg" 
      width="30" height="30" class="d-inline-block align-left" alt="" loading="lazy">
      Cabeçudinho Store</p>    
    </a>
  </nav>


  <div class="container mx-auto ">
    <div class="container m-5 pb-5 w-50 mx-auto rounded">
     
    <form action="/cadastrarUsuario" method="post" class="m-1 pb-1 pt-4">
    
      <div class="input-group flex-nowrap ">
        <div class="input-group-prepend ">
          <span class="input-group-text " id="addon-wrapping" >🙍‍♂️🙍‍♀️Nome completo</span>
        </div>
        <input type="text" class="form-control" for="nome" placeholder="Ex: Matheus Francisco" id="nome" type="text" name="nome" 
        aria-label="Username" aria-describedby="addon-wrapping ">
      </div>
           
            
      <br>
    
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping" >🗓️Data de nascimento</span>
        </div>
        <input type="date" class="form-control" for="data" id="data"  name="dataNascimento" 
         aria-describedby="addon-wrapping">
      </div>
      <br>

      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping" >📧Email</span>
        </div>
        <input type="text" class="form-control" placeholder="Ex: xxxxxxxx@gmail.com" for="email"  id="email"  name="email" 
         aria-describedby="addon-wrapping">
      </div>
      <br>
    
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping" >🧾CPF (login)</span>
        </div>
        <input type="text" class="form-control" for="cpf" placeholder="ex: XXXXXXXXXXX" id="username" name="username" 
        aria-label="Username" aria-describedby="addon-wrapping">
      </div>
      <br>
      
    
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping" >🔑Senha</span>
        </div>
        <input type="password" class="form-control" for="senha" placeholder="Password"  id="senha"  name="senha" 
         aria-describedby="addon-wrapping">
      </div>
      <br>

      <button type="submit" class="btn btn-primary btn-lg btn-block" >Enviar</button>     
      </form>
    
    </div>
    </div>
    </body>

    
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>
